.page-container {
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

.service-page {
    display: flex;
    justify-content: center;
}

.service-header {
    display: block;
    justify-content: center;
    box-sizing: border-box;
    font-size: 24px;
    width: 300px;
    text-align: center;
}

.block-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 15px;
    justify-content: center;
}

.block-box {
    box-sizing: border-box;
    width: 300px;
    max-width: 370px;
    height: 250px;
    border: 1px solid #C6C6C6;
    margin: 0 auto;
}

.inside-box {
    padding: 24px;
}

.block-image {
    width: 32px;
    height: 32px;
}

.block-footer {
    margin-bottom: 20px;
}

.service-header .header-6{
    color: gray;
    size: 10px;
}

.button-class{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-view-all{
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

@media (max-width: 767px) {
    .page-container{
        width: 90%;
    }
    .page-container .block-container {
        display: grid;
        grid-template-columns:repeat(1, 100%);
        gap: 15px;
        justify-content: center;
    }
    .service-page {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .service-header .header-6{
        font-size: 15px !important;
    }
    .service-header {
        width: 100%;
        font-size: 12px;
    }

    .block-box {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .block-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }

    .block-box {
        width: 100%;
        max-width: 100%;
    }

    .page-container {
        height: auto;
        padding: 15px;
    }
}



