.flex-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(86, 103, 119);
}

.flex-item > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px; 
}

.container{
    width: 150px;
    height: 100px;

}

.items{
    width: 150px;
    height: 100px;
}
.one{
    background-color:rgb(219, 44, 9);
}

.two{
    background-color: blueviolet;
}

.three{
    background-color: green;
}